:root {
    --background-color: #F1F1F1;
    /* Grey colors */
    --grey-color-300: #1C181D;
    --grey-color-200: #322F33;
    --grey-color-100: #616161;
    --grey-color-50: #656266;
    --grey-color-G100: #B5B5B5;
    --grey-color-G200: #303030;
    /* Font colors */
    --font-light-color: #E3E3E3;
    --font-mid-color: #616161;
    --font-dark-color: #475467;
    /* Strokes colors */
    --stroke-S200: #667085;
    --stroke-S100: #E1E1E1;
    --stroke-S50: #EBEBEB;
    /* states */
    --hover-state: #F1F1F1;
    --pressed-state: #F0F0F0;
    --focused-state: #005BD3;
}


/* general */

body {
    background: var(--background-color);
    margin: 0;
    max-width: 1800px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    align-items: center;
}

p {
    font-size: .85rem;
}

p,
h1,
h5,
h4,
h2 {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    box-shadow: 0 0 0 2px #000, 0 0 0 4px #005BD3;
    outline: none;
}

.mobile {
    display: none;
}


/*-------------- */


/* nav style */

.nav-main {
    background-color: var(--grey-color-300);
    padding-block: 12px;
    padding-inline: 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.nav-main #search-input-bar {
    width: 100%;
    padding: .6rem;
    border-radius: 0.5rem;
    background-color: var(--grey-color-G200);
    border: 1px solid var(--stroke-S200);
    align-items: center;
    gap: .5rem;
    padding-left: 2.5rem;
    height: 100%;
    color: #fff;
    outline: none;
}

.search-bar {
    flex-grow: 1;
    max-width: 30rem;
    margin-inline: 1rem;
    margin-block: 0;
}

.search-bar svg {
    position: absolute;
    left: 12px;
    top: 9px;
    /* bottom: 50%; */
}


/* .nav-main .search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    outline: none;
    color: #fff;
} */

.nav-main .search-bar input::placeholder {
    color: var(--grey-color-G100);
}

.nav-main .search-bar svg path {
    fill: var(--grey-color-G100);
}

.info-notif {
    position: relative;
    justify-content: flex-end;
    gap: .6rem;
    align-items: center;
}

.notification-bar {
    padding: .45rem;
}

.profile-header {
    padding: .25rem;
}

.nav-comp {
    background-color: var(--grey-color-200);
    color: var(--font-light-color);
    border-radius: 8px;
    gap: .8rem;
    align-items: center;
}

.profile-header p {
    margin: 0;
    font-size: 0.85rem;
    padding: .5rem;
}

.profile-header p {
    font-weight: 500;
}

.profile-header p:nth-child(2) {
    background-color: #36FBA1;
    color: #00000060;
    border-radius: 8px;
    font-size: 0.85rem;
    padding-inline: .5rem;
    padding-block: .6rem;
}


/* ------------ */


/* main section */

.main-section {
    max-width: 800px;
    margin-inline: auto;
}

.main-section .premium-show {
    background-color: var(--grey-color-300);
    color: var(--font-light-color);
    border-radius: .5rem;
    padding-inline: .98rem;
    padding-block: .35rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.premium-select-btn {
    align-items: center;
    gap: .5rem;
}

.premium-select-btn button,
.premium-select-btn svg {
    cursor: pointer;
}

.premium-select-btn button {
    margin: 0;
    border: 0;
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-block: .6rem;
}

.section-premium-main p {
    margin-block: .2rem;
}

.view-section {
    justify-content: space-between;
    align-items: flex-start;
}

.section-premium-main {
    background-color: #fff;
    padding: 1rem;
    border-radius: .9rem;
    border: 1px solid var(--font-light-color);
    color: var(--font-dark-color);
    line-height: 1.3rem;
}

.bold-subhead,
#setup-guide {
    cursor: pointer;
    font-weight: 600;
    padding-block: .2rem;
}

#progress {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: .8rem;
}

#progress p {
    font-size: small;
}

#progress-bar {
    background-color: var(--font-light-color);
    border-radius: .5rem;
    padding: .20rem;
    padding-inline: 4.2rem;
    position: relative;
    overflow: hidden;
}

#progress-bar span {
    content: " ";
    position: absolute;
    left: 0;
    width: 0%;
    top: 0;
    bottom: 0;
    background-color: var(--grey-color-300);
}

.upper-section {
    display: none;
}

.expanded-section {
    margin-top: 1rem;
    position: relative;
}

.section-one-exp {
    padding: .5rem;
    border-radius: .6rem;
    justify-content: space-between;
    grid-template-columns: 40px 10fr 4fr;
}

#side-image {
    display: flex;
    justify-content: right;
}

#side-image img {
    width: 80%;
    height: 80%;
}

#content-section {
    margin-block: .8rem;
}

.inner-exp p {
    margin: 0;
}

#content-section a {
    text-decoration: none;
    color: var(--focused-state);
}

#link-learn-more {
    margin-top: 0;
}

button#button-comp:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #005BD3;
    outline: none;
}

button#button-comp:active {}

button#button-comp {
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: .5rem;
    padding: .8rem;
    padding-inline: 1.2rem;
    /* width: fit-content; */
    border: .2rem solid #333333;
    background-color: #000;
    /* border-bottom-style: ridge; */
    border-bottom-width: 1px;
    position: absolute;
    z-index: 100;
    color: #fff;
    font-weight: 500;
}

button#button-comp::after {
    content: " ";
    border: .15rem solid #666666;
    background-color: #404040;
    position: absolute;
    border-bottom-width: 0px;
    border-radius: .3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    z-index: -1;
    transition: all .3s ease;
}

button#button-comp:active::after {
    border-color: #333333;
    border-bottom-width: 3px;
    top: 3px;
    bottom: 0px;
}

button#button-comp:active {
    border-bottom-width: 3px;
    border-top-width: 0px;
}

button#button-comp:hover::after {
    background-color: #2A2A2A;
}

.button-group>div {
    flex-basis: 30%;
}

.button-group {
    align-items: center;
}

.button-group button {
    display: block;
    font-weight: 600;
    width: fit-content;
    border: none;
    background-color: transparent;
}

.alert div {
    justify-content: space-between;
}

.alert>div svg {
    display: block;
    margin-left: 1rem;
}

.dialog {
    right: -10px;
}

.alert,
.dialog {
    /* display: ; */
    /* display: block; */
    position: absolute;
    display: none;
    top: 60px;
    /* right: -200px; */
    border-radius: 1rem;
    max-width: 350px;
    width: 350px;
    border: 2px solid var(--stroke-S50);
    padding: 0;
    z-index: 1000;
    background-color: #fff;
}

.alert {
    right: -15px !important;
    right: -14%;
    max-width: 95vw;
}

.alert {
    /* display: block; */
    padding: 1rem;
}

.check-box-status {
    cursor: pointer;
    height: 0px;
}

.check-box-status:hover svg circle {
    stroke-dasharray: 0, 0 !important
}

.alert>h5,
.alert h5 {
    font-weight: 500;
}

.alert>h5 {
    background-color: var(--hover-state);
    color: var(--font-mid-color);
    padding: 1rem;
    margin-top: 1rem;
}

.header-dialog {
    background-color: #F1F1F1;
    padding: .5rem;
    border-radius: .5rem;
}

.header-dialog,
.header-dialog-stores {
    margin: .5rem;
}

#collapse,
.top-dialog>* {
    cursor: pointer;
}

.header-dialog-stores {
    margin-block: .8rem;
}

.header-dialog {
    justify-content: space-between;
}

.header-dialog-stores,
.header-dialog,
.header-dialog>div {
    align-items: center;
    gap: .7rem;
}

.header-dialog span {
    background-color: #36FBA1;
    color: #0000007e;
    padding: .6rem;
    border-radius: .5rem;
}

.header-dialog>div h4 {
    color: var(--font-dark-color);
    font-weight: 500;
}

.header-dialog-stores p {
    font-size: 1rem;
}

.dialog-list:first-of-type,
.top-dialog {
    border-bottom: 1px solid var(--stroke-S100);
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
    color: var(--font-dark-color);
}

ul li {
    cursor: pointer;
    border-radius: .5rem;
    padding: .2rem;
    padding-inline: 1rem;
    margin: .1rem;
}

.dialog-list {
    line-height: 2.3rem;
}

.dialog-list:nth-of-type(2) {
    padding-block-start: 1rem;
}

#profile-name {
    line-height: 1.5rem;
}


/* hover states */

svg,
ul li,
#search-input-bar,
.nav-comp {
    transition: all .3s ease;
}

.nav-comp:hover {
    background-color: var(--font-mid-color);
}

#search-input-bar:focus,
#search-input-bar:hover {
    border-color: var(--stroke-S100);
}

#search-input-bar:focus {
    border-width: 2px;
    border-color: #fff;
}

ul li:focus {
    border: 3px solid var(--focused-state);
}

ul li:hover {
    background-color: var(--hover-state);
}

#side-image,
#expanded-content {
    display: none;
}

.expand #side-image {
    display: flex;
}

.expand #expanded-content {
    display: block;
}

.expand .section-one-exp {
    background-color: #F3F3F3;
}

.show,
.showCollapse {
    display: block;
}


/* .search-bar input:focus {
    border-color: var(--stroke-S100);
    border-width: 2rem;
    background-color: red;
} */


/* animations */

#rotate-loading {
    /* transform: rotate(); */
    animation: rotate 1s 1;
    animation-fill-mode: forwards;
}

#checked {
    animation: showanim .5s 1;
    animation-fill-mode: forwards;
}

@keyframes showanim {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
        opacity: .9;
    }
    100% {
        transform: rotate(720deg);
        opacity: 0;
    }
}


/* responsiveness */

@media (max-width: 820px) {
    svg {
        min-width: 25px;
        width: 80%;
    }
    .nav-comp {
        background-color: var(--grey-color-300);
    }
    .profile-header p:first-of-type {
        display: none;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .top-dialog svg,
    .search-bar svg {
        width: fit-content;
    }
    .premium-show p {
        padding-bottom: .8rem;
    }
    .premium-show {
        flex-wrap: wrap;
        padding-block: 1rem !important;
    }
    .premium-select-btn {
        justify-content: space-between;
        width: 100%;
    }
    .close {
        margin-top: -4%;
        align-self: flex-start;
    }
    #side-image {
        display: none !important;
    }
    .section-one-exp {
        grid-template-columns: 1fr 8fr;
    }
    .button-group>div {
        flex-basis: 50%;
    }
    .alert {
        right: 40px;
    }
    .dialog {
        width: 300px;
    }
}